body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* BEGIN (write your solution here) */
#header{
  margin-bottom: 32px;
}

h1{
  text-align: center;
  font-size: 36px;
}

h2{
  font-size: 32px;
}

h2.header-title{
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.contacts{
  text-align: center;
  margin: 0  auto;
}

.aboutMe{
  margin-top: 30px;
}

.head{
  border-bottom: 1px solid black;
  margin-bottom: -10px;
}

.orgName{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: -10px;
}

.description{
  margin-top: 10px;
}

.myName{
  text-align: center;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: -20px;
}

.adress{
  text-align: center;
}

#footer{
  margin-top: 64px;
  margin-bottom: 32px;
}
/* END */
